# Introduction

The Purpase of this notebook is to Gain a Better insight on Crime in the U.S.

#  CleanData

In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

# Get Data

In [6]:
Crime = pd.read_csv('Crime in the United States.csv')

# Analysis/Modeling

If you can Visually see that their are nulls and "messed up" Data, you have to fix them Column by Column, BEFORE you do anything with the data.

In [7]:
Crime.head()

,Year,Population1,Violentcrime,Violent crime rate,Murder and nonnegligent manslaughter,Murder and nonnegligent manslaughter rate,Rape (revised definition3),Rape (revised definition) rate3,Rape (legacy definition4),Rape (legacy definition) rate4,...,Aggravated assault,Aggravated assault rate,Property crime,Property crime rate,Burglary,Burglary rate,Larceny- theft,Larceny- theft rate,Motor vehicle theft,Motor vehicle theft rate
0,1997.0,"267,783,607","1,636,096",611,"18,208",6.8,NaN,NaN,"96,153",35.9,...,"1,023,201",382.1,"11,558,475","4,316.30","2,460,526",918.8,"7,743,760","2,891.80","1,354,189",505.7
1,1998.0,"270,248,003","1,533,887",567.6,"16,974",6.3,NaN,NaN,"93,144",34.5,...,"976,583",361.4,"10,951,827","4,052.50","2,332,735",863.2,"7,376,311","2,729.50","1,242,781",459.9
2,1999.0,"272,690,813","1,426,044",523,"15,522",5.7,NaN,NaN,"89,411",32.8,...,"911,740",334.3,"10,208,334","3,743.60","2,100,739",770.4,"6,955,520","2,550.70","1,152,075",422.5
3,2000.0,"281,421,906","1,425,486",506.5,"15,586",5.5,NaN,NaN,"90,178",32.0,...,"911,706",324,"10,182,584","3,618.30","2,050,992",728.8,"6,971,590","2,477.30","1,160,002",412.2
4,20015.0,"285,317,559","1,439,480",504.5,"16,037",5.6,NaN,NaN,"90,863",31.8,...,"909,023",318.6,"10,437,189","3,658.10","2,116,531",741.8,"7,092,267","2,485.70","1,228,391",430.5

In [8]:
Crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 22 columns):
Year                                             20 non-null float64
Population1                                      20 non-null object
Violentcrime                                     20 non-null object
Violent
crime
rate                             22 non-null object
Murder and
nonnegligent
manslaughter            20 non-null object
Murder and
nonnegligent
manslaughter
rate     20 non-null float64
Rape
(revised
definition3)                      5 non-null object
Rape
(revised
definition)
rate3                4 non-null float64
Rape
(legacy
definition4)                       20 non-null object
Rape
(legacy
definition)
rate4                 20 non-null float64
Robbery                                          20 non-null object
Robbery
rate                                    20 non-null float64
Aggravated
assault                              20 non-null object
Aggravated
assault rate                         21 non-null object
Property
crime                                  20 non-null object
Property
crime
rate                            20 non-null object
Burglary                                         20 non-null object
Burglary
rate                                   20 non-null float64
Larceny-
theft                                   20 non-null object
Larceny-
theft rate                              21 non-null object
Motor
vehicle
theft                            20 non-null object
Motor
vehicle
theft
rate                      20 non-null float64
dtypes: float64(7), object(15)
memory usage: 6.1+ KB

This is Messy and convultued Lets Rename The Columns

In [13]:
Crime.columns

Index(['Year', 'Population1', 'Violentcrime', 'Violent \ncrime \nrate ',
       'Murder and\nnonnegligent \nmanslaughter',
       'Murder and \nnonnegligent \nmanslaughter \nrate ',
       'Rape\n(revised \ndefinition3)', 'Rape\n(revised \ndefinition) \nrate3',
       'Rape\n(legacy \ndefinition4)', 'Rape\n(legacy \ndefinition) \nrate4',
       'Robbery', 'Robbery \nrate ', 'Aggravated \nassault',
       'Aggravated \nassault rate ', 'Property \ncrime',
       'Property \ncrime \nrate ', 'Burglary', 'Burglary \nrate ',
       'Larceny-\ntheft', 'Larceny-\ntheft rate ', 'Motor \nvehicle \ntheft',
       'Motor \nvehicle \ntheft \nrate '],
      dtype='object')

In [16]:
Crime.columns = ['Year', 'Population', 'Violent crime', 'Violent crime rate',
       'Murder and nonnegligent manslaughter',
       'Murder and nonnegligent manslaughter rate',
       'Rape (revised definition3)', 'Rape (revised definition3) Rate',
       'Rape(legacy definition)', 'Rape(legacy definition) Rate',
       'Robbery', 'Robbery rate', 'Aggravated assault',
       'Aggravated assault rate', 'Property crime',
       'Property crime rate', 'Burglary', 'Burglary rate',
       'Larceny theft', 'Larceny theft rate', 'Motor vehicle theft',
       'Motor vehicle theft rate']

In [17]:
Crime['Year']

0      1997.0
1      1998.0
2      1999.0
3      2000.0
4     20015.0
5      2002.0
6      2003.0
7      2004.0
8      2005.0
9      2006.0
10     2007.0
11     2008.0
12     2009.0
13     2010.0
14     2011.0
15     2012.0
16     2013.0
17     2014.0
18    20156.0
19     2016.0
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33        NaN
34        NaN
Name: Year, dtype: float64

In [ ]:
Crime['Year']

In [9]:
Crime.describe()

,Year,Murder and nonnegligent manslaughter rate,Rape (revised definition) rate3,Rape (legacy definition) rate4,Robbery rate,Burglary rate,Motor vehicle theft rate
count,20.000000,20.000000,4.000000,20.000000,20.000000,20.000000,20.000000
mean,3814.250000,5.375000,38.150000,30.500000,135.015000,703.195000,343.535000
std,5564.699754,0.602517,2.063169,2.777731,22.824186,107.945427,100.403037
min,1997.000000,4.400000,35.900000,25.900000,101.300000,468.900000,215.400000
25%,2002.750000,4.875000,36.725000,28.225000,113.700000,693.800000,235.275000
50%,2007.500000,5.500000,38.150000,31.100000,141.650000,727.850000,382.550000
75%,2012.250000,5.700000,39.575000,32.325000,148.350000,741.200000,424.500000
max,20156.000000,6.800000,40.400000,35.900000,186.200000,918.800000,505.700000

# Result

show data visualiztion here

# Conclusion